{{ define "main" }}
<main>
	<article>
		<div class="title">
			<h1 class="title">{{ .Title }}</h1>
           
			<div class="meta">Put here on {{ dateFormat "2 Jan, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFTY</span> {{ end }}</div>
		</div>
        
		{{ if isset .Params "tldr" }}
		<div class="tldr">
			{{ .Params.tldr }}
		</div>{{ end }}

		<section class="body">
			{{ .Content }}
		</section>
		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
            <h3>Topics Discussed in this post</h3>

			<nav class="nav tags">
				<p class="tags">
					{{ range .Params.tags }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
					{{ end }}
				</p>
			</nav>
			{{ end }}
			{{ end }}
		</div>
	</article>
</main>
{{ end }}

