/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,500&display=swap');
/* Markdown */
:root{
--maincolor: #C10000; 
--bordercl:reb  #483D3F; 
--callouctcolor:do  #C10000;
--hovercolor: #483D3F;
--darkMaincolor: #CC8100;

}
html {
  color: #1C1C1C;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  line-height: 1.6em;
}
body{
  display: block;
  margin: 8px;
    background-color: #d3e6eb;    
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  background: var(--maincolor);
  color: #F4FF24;
}

p {
  font-family: "Lucida Console", Monaco, monospace;
  line-height: 1.6;
}


hr {
  border: 6;
    border-style:dashed;
    border-color: var(--maincolor);
  margin: 1em 0;
}


blockquote {
  border-left: 3px solid #000000;
  color: var(--maincolor);
  font-size: 1.2rem;
    font-weight: 800;
  margin: 2 ;
  padding-left: 1em;
}

a {
  /* border-bottom: 3px solid var(--maincolor); */
  color: inherit;
  text-decoration:underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--maincolor);
}

a:hover {
    background-color: var(--hovercolor);
      color: #F4FF24;
        text-decoration-color: #F4FF24;
}

ul {
  list-style: none;
  padding-left: 6ch;
    padding-right: 6ch; 
}
ul li {
  text-indent: -2ch;
}
ul li::before {
  content: '+ ';
  font-weight: bold;
    font-size: 1.1rem;
    color: var(--maincolor);
}

/* Images */
img {
  border: 0px solid #ececec;
  max-width: 100%;
    
}

figure {
  box-sizing: border-box;
  display: inline-grid;
  margin: 0;
}

figure img {
    max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  font-size: .8rem;
  margin: 0; 
    display: subgrid;
  margin-bottom: 1em;
      caption-side: bottom;
  background: #CC8100;
    color: #F4FF24 ;
      padding: 10px;   
}

figure h4::before {
  content: '↪ ';
    font-size: 1.2rem;
}


/* Code blocks */
code {
  background-color: #f1f1f1;
  padding: .1em .2em;
}

pre {
  background-color: #ececec;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}

.highlight pre ::selection {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

/* Containers */
.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1ch;
  word-wrap: break-word;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em 0;
}

header .main {
  font-size: 2rem;
    margin-bottom: 2rem;
}

header .main::after {
content: "▮";
    animation: blinker 1s linear infinite;
}

header .main a {
  text-decoration: none;
}

header .main a:hover {
  color: var(--maincolor);
    background: none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

nav {
     font-weight: 800;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: line-through;
    background: none;
    color: var(--hovercolor);
    
}

nav a:active {
    text-decoration: line-through;
    background: var(--hovercolor);
    color: #F4FF24;
    
}


nav a::after {
    content: "/";
    color: var(--maincolor);  
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2em;
    font-family: "Courier New", Courier, monospace;
}

h1, h2, h3, h4, h5, h6{
text-decoration: none;
}

h1::before { color: var(--maincolor); content: '# '; }
h2::before { color: #c99400; content: '## '; }
h3::before { color: #0014c9; content: '### '; }
h4::before { color: #00c92c; content: '#### '; }
h5::before { color: #756726; content: '##### '; }
h6::before { color: #4a4a4a; content: '###### '; }

h1 {
  font-size: 2rem;
    line-height: 2.2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.5rem;
    font-weight: normal;
}

h4 {
  font-size: 1.4rem;
        font-weight: normal;

}

h5 {
  font-size: 1.2rem;
        font-weight: normal;

}

h6 {
  font-size: 1rem;
        font-weight: normal;

}

/* Footer */
footer {
  margin-top: 1em;
}

footer a {
 color: var(--maincolor);
    text-decoration: none;
}

footer a:hover {
 color: var(--maincolor);
    text-decoration: line-through;
    background: none;
}

/* Common */
.title h1 {
  margin-bottom: 0;
}

time {
  color: var(--maincolor);
}
    
/* Posts */
article .title {
  margin-bottom: 1em;
}

article .meta {
    color: var(--maincolor);
    font-weight: 600;
    
}

article .tags li::before{
  content:none;
}

article .tags li::after{
  content:none;
    color: var(--maincolor);
    font-weight: 800;   
}

article .tldr {
    color: #F4FF24;
    background: #483D3F;
    display: inline;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

article .tldr::before {
    content: "tl;dr: ";
    font-weight: 800;
    color: #ffffff;
}

.more {
    text-align: right;
    font-weight: 900;
    color: var(--maincolor);
}

.more::before {
content: "⇢ ⇢ ⇢ "
}


.more:hover {
    text-decoration: none; 
    background: var(--hovercolor);
    color: #F4FF24;
}

/* Callout */
.callout {
  background-color: var(--callouctcolor);
  color: #fff;
  padding: 1em;
}

.callout p {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
}

.callout a {
  border-bottom: 3px solid #fff;
}

.callout a:hover {
  background-color: #ff0000;
  color: var(--callouctcolor);
}

.site-description {
    background-color: var(--hovercolor);
    color: #F4FF24 ;
    font-size: 2rem;
    display: inline;
    line-height: normal;
    text-align: left;
    padding-left: 6px;
    padding-right: 6px;
    
}

.site-description::before {
content: "<!-- ";
    color: #ffffff;
}

.site-description::after {
content: " -->";
    color: #ffffff;
}


.tags li::before{
  content: "<tag> ";
    
}

.tags li::after{
  content: " </tag>";
    color: var(--maincolor);
    font-weight: 800;   
}

.tags a{
    text-decoration: none;
}
.tags a:hover{
  color:#F4FF24;
  background-color: var(--hovercolor); 
}
svg{
  max-height: 15px;
}
.soc:hover{
  color: white;
}
.draft-label{ 
    color: var(--bordercl);
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}
.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"]::before {
  background: black;
  border-radius: 0 0 0.25rem 0.25rem;
  color: white;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}

.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
content: "js";
background: #f7df1e;
color: black;
}
.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
content: 'yaml';
background: #f71e6a;
color: white;
}
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
content: 'shell';
background: green;
color:white
}
.highlight pre code[class*='language-json']::before{
content: 'json';
background: dodgerblue;
 color: #000000 
}
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
content: 'py';
background: blue;
color: yellow ;
}
.highlight pre code[class*='language-css']::before{
content: 'css';
background: cyan;
color: black ;
}
.highlight pre code[class*='language-go']::before{
content: 'Go';
background: cyan;
color: royalblue ;
}
.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before{
content: 'Markdown';
background: royalblue;
color: whitesmoke ;
}

/* creative commons */

@media screen {
            @font-face {
            font-family: 'CC-ICONS';
            font-style: normal;
            font-weight: normal;
            src: url('http://mirrors.creativecommons.org/presskit/cc-icons.ttf') format('truetype');
            }
            
            span.cc {
            font-family: 'CC-ICONS';
            color: #1C1C1C;
                font-size: 15px;
            }
            }